<div class="container">
	<p id="notice"></p>
	<div class="row">
		<div class="col-xs-3">
			<h2>User info</h2>
			<%= attachment_image_tag @user, :profile_image, :fill, 60, 60 %>
			<!-- profile_image_idから_idを消して画像を引き出す -->
			<table class="table">
				<tbody>
					<tr>
						<th>name</th>
						<th>
							<%= @user.name %>
						</th>
					</tr>
					<tr>
						<th>introduction</th>
						<th>
							<%= @user.introduction %>
						</th>
					</tr>
				</tbody>
			</table>

<!-- 表示したアカウントが今ログイン中のユーザのものなら、編集ページを表示する -->
			<% if @user.id == current_user.id %>
				<div class="row">
					<%= link_to "…", edit_user_path(@user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
				</div>
			<% end %>

			<h2>New book</h2>
			<div class="new-book">
				<%= form_for(@book) do |f| %>
					<p>Title</p>
					<%= f.text_field :title %>
					<p>Opinion</p>
					<%= f.text_area :body %>
					<%= f.submit 'Create Book' %>
				<% end %>
			</div>


		</div>

	</div>

</div>
